extends layout.pug

block scripts
    script(src='/static/script.js')

block style
    style
        include ../static/style.css
        include ../static/styleAbout.css

block content
    div.aboutUs
        h1 About Us
        p We are a premier dance studio dedicated to teaching a diverse range of dance styles. Our mission is to provide high-quality dance education in a welcoming environment that fosters creativity, expression, and physical fitness. Our experienced instructors come from various dance backgrounds, ensuring that students receive the best possible instruction and guidance.
        p Our studio offers classes for all skill levels, from beginners to advanced dancers, in a variety of styles including Salsa, Ballet, Contemporary, and more. We believe in the transformative power of dance and strive to inspire every student to reach their full potential.
        p For more information about our instructors and the history of our studio, please visit our website or contact us directly.
