extends layout.pug

block scripts 
    script(src='/static/script.js')

block style     
    style 
        include ../static/style.css
        include ../static/styleClassInfo.css

block content
    div.danceStyles
        div#style.style1
            div#danceImg.img1
            div#danceInfo <h4>Salsa</h4>
                p Salsa is a Latin American dance, associated with salsa music. It originated in the late Eastern Cuba and gained popularity in New York in 1960.Salsa is a mixture of Cuban dances, such as mambo, pachanga, and rumba, as well as American dances such as swing and tap. This dance is often performed with a partner. Basic Salsa techniques are in place basic, forward and back basic, single and double side step, back basic, open breaks, mambo, right turn etc.Salsa dance steps can be done individually, but Salsa is most popularly known as a partnered dance where the lead takes the follower through a series of spins and turn patterns to music. Salsa's tempo ranges from about 150bpm (beats per minute) to around 250bpm, although most dancing is done to music somewhere between 160 and 220bpm. <a href = "https://en.wikipedia.org/wiki/Salsa_(dance)" target = "_blank">Click here to know more.</a>
            div#timings <h5>Class Timing</h5> 10:00am to 11:45am
        div#style.style2
            div#danceImg.img2
            div#danceInfo <h4>Contemporary</h4>
                p Contemporary dance is a genre of dance performance that developed during the mid-twentieth century and has since grown to become one of the dominant genres for formally trained dancers throughout the world, with particularly strong popularity in the U.S. and Europe. Although originally informed by and borrowing from classical, modern, and jazz styles, it has come to incorporate elements from many styles of dance. Due to its technical similarities, it is often perceived to be closely related to modern dance, ballet, and other classical concert dance styles.In terms of the focus of its technique, contemporary dance tends to combine the strong but controlled legwork of ballet with modern that stresses on torso. It also employs contract-release, floor work, fall and recovery, and improvisation characteristics of modern dance. <a href ="https://en.wikipedia.org/wiki/Contemporary_dance#:~:text=Contemporary%20dance%20is%20a%20genre,in%20the%20U.S.%20and%20Europe." target="_blank">Click here to know more.</a>
            div#timings <h5>Class Timing</h5> 12:00pm to 01:45pm
        div#style.style3
            div#danceImg.img3
            div#danceInfo <h4>Hip-Hop</h4>
                p Hip hop dance is a range of street dance styles primarily performed to hip hop music or that have evolved as part of hip hop culture. It is influenced by a wide range of styles that were created in the 1970s and made popular by dance crews in the United States. The dance industry responded with a commercial, studio-based version of hip-hop—sometimes called "new style"—and a hip-hop influenced style of jazz dance called "jazz-funk". Classically trained dancers developed these studio styles in order to create choreography from the hip-hop dances that were performed on the street. Because of this development, hip-hop dance is practiced in both dance studios and outdoor spaces. <a href="https://en.wikipedia.org/wiki/Hip_hop_dance" target="_blank">Click here to know more.</a>
            div#timings <h5>Class Timing</h5> 04:00pm to 05:45pm
        div#style.style4
            div#danceImg.img4
            div#danceInfo <h4>Folk </h4>
                p A folk dance is a dance that reflects the life of the people of a certain country or region. Not all ethnic dances are folk dances. For example, ritual dances or dances of ritual origin are not considered to be folk dances. Ritual dances are usually called "religious dances" because of their purpose.The terms "ethnic" and "traditional" are used when it is required to emphasize the cultural roots of the dance. In this sense, nearly all folk dances are ethnic ones. If some dances, such as polka, cross ethnic boundaries and even cross the boundary between "folk" and "ballroom dance", ethnic differences are often considerable enough to mention.<a href="https://en.wikipedia.org/wiki/Folk_dance" target="_blank">Click here to know more.</a>
            div#timings <h5>Class Timing</h5> 06:00pm to 07:45pm
        div#style.style5
            div#danceImg.img5
            div#danceInfo <h4>Ballet </h4>
                p Ballet (French: [balɛ]) is a type of performance dance that originated during the Italian Renaissance in the fifteenth century and later developed into a concert dance form in France and Russia. It has since become a widespread and highly technical form of dance with its own vocabulary. Ballet has been influential globally and has defined the foundational techniques which are used in many other dance genres and cultures. Various schools around the world have incorporated their own cultures. As a result, ballet has evolved in distinct ways<a href="https://en.wikipedia.org/wiki/Ballet" target="_blank">Click here to know more.</a>
            div#timings <h5>Class Timing</h5> 08:00pm to 09:45pm
        div#style.style6
            div#danceImg.img6
            div#danceInfo <h4>Bharatnatyam </h4>
                p Bharatanatyam (Tamil: பரதநாட்டியம்) is an Indian classical dance form that originated in Tamil Nadu, India. It is a classical dance form recognized by the Sangeet Natak Akademi, and expresses South Indian religious themes and spiritual ideas of Hinduism and Jainism. A description of precursors of Bharatanatyam from the Natya Shastra dated around (500 BCE) and in the ancient Tamil epic Silappatikaram dated around (171 CE) while temple sculptures of the 6th to 9th century CE suggest dance was a refined performance art by the mid-1st millennium CE. Sadiraattam, which was renamed Bharatanatyam in 1932, is the oldest classical dance tradition in India. Bharatanatyam is the state dance form of Tamil Nadu. <a href="https://en.wikipedia.org/wiki/Bharatanatyam" target="_blank">Click here to know more.</a>
            div#timings <h5>Class Timing</h5> 06:30pm to 08:30pm
        div#style.style7
            div#danceImg.img7
            div#danceInfo <h4>Belly Dance </h4>
                p Belly dance (Arabic: رقص شرقي, romanized: Raqs sharqi, lit. 'oriental dance') is a Middle Eastern dance that originated in Egypt, which features movements of the hips and torso. It has evolved to take many different forms depending on the country and region, both in costume and dance style; with the Egyptian styles and costumes being the most recognized worldwide due to Egyptian cinema. Belly dancing in its various styles and forms is popular worldwide with many schools around the globe practicing it. <a href="https://en.wikipedia.org/wiki/Belly_dance" target="_blank">Click here to know more.</a>
            div#timings <h5>Class Timing</h5> 04:00pm to 06:00pm