extends layout.pug

block scripts
    script(src='/static/script.js')

block style
    style
        include ../static/style.css
        include ../static/styleServices.css

block content
    div.services
        h1 Our Services
        div.service
            h2 Dance Classes
            p We offer a range of dance classes tailored to different skill levels and interests. Whether you are a beginner or an advanced dancer, we have something for you.
        div.service
            h2 Private Lessons
            p For those looking for personalized instruction, we offer private lessons with our experienced instructors. These sessions can be customized to focus on specific skills or techniques.
        div.service
            h2 Workshops and Events
            p We host various workshops and events throughout the year, featuring guest instructors and special themes. Stay tuned to our calendar for upcoming events and opportunities to expand your dance horizons.
        div.service
            h2 Studio Rental
            p Our studio is available for rent for rehearsals, events, and other activities. Contact us to inquire about availability and rates.
        div.service
            h2 Dance Apparel and Accessories
            p Visit our studio boutique for a selection of dance apparel and accessories. We carry high-quality items to help you look and feel your best while dancing.
